<!DOCTYPE html>
<html lang="{{ locale|default('en') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ wp_title|raw }}</title>
    {% block stylesheets %}{% endblock %}
    {% block head %}{{ wp_head() }}{% endblock head %}
</head>
<body class="{{ body_class }}">

{% if maintenance_mode|default() %}

    {% block maintenance %}
        <h1>Maintenance</h1>
    {% endblock maintenance %}

{% else %}

    <nav>
        <a href="{{ home_url }}">Homepage</a>
        {% for item in menu.header.items|default() %}
            <a href="{{ item.link }}" class="{{ item.class }}" target="{{ item.target }}">{{ item.title }}</a>
        {% endfor %}
    </nav>

    <h1>{{ section }}</h1>

    {% block body %}

        {% if posts|default() %}
            <article>
                {% for post in posts %}
                    <section>
                        <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
                        {% if post.thumbnail %}
                            <img src="{{ post.thumbnail.resize(120,120) }}" alt="{{ post.thumbnail.alt }}">
                        {% endif %}
                        <div>{{ post.excerpt|raw }}</div>
                        <div>{{ post.content|raw }}</div>
                    </section>
                {% endfor %}
            </article>
        {% elseif post|default() %}
            <section>
                <h2>{{ post.title }}</h2>
                {% set categories = post.getTerms('category') %}
                {% if categories %}
                    <nav>
                        {% for category in categories %}
                            <a href="{{ category.link }}">{{ category.title }}</a>
                        {% endfor %}
                    </nav>
                {% endif %}
                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.resize(640,480) }}" alt="{{ post.thumbnail.alt }}">
                {% endif %}
                <div>{{ post.content|raw }}</div>
            </section>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endif %}

{% block footer %}{{ wp_footer() }}{% endblock footer %}
</body>
</html>
