<!DOCTYPE html>
<html lang="{{ locale|default('en') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|raw }}</title>
    {% block stylesheets %}{% endblock %}
    {% block head %}{{ system.head|raw }}{% endblock head %}
</head>
<body class="{{ body_class }}">
{% if maintenance_mode|default() %}

    {% block maintenance %}
        <h1>Maintenance</h1>
    {% endblock maintenance %}

{% else %}
    {% block body %}

        {% if posts|default() %}
            <article>
                {% for post in posts %}
                    <section>
                        <h2>{{ post.title }}</h2>
                        <div>{{ post.content|raw }}</div>
                    </section>
                {% endfor %}
            </article>
        {% elseif post|default() %}
            <section>
                <h2>{{ post.title }}</h2>
                <div>{{ post.content|raw }}</div>
            </section>
        {% endif %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endif %}

{% block footer %}{{ system.footer|raw }}{% endblock footer %}
</body>
</html>
